.DateBox{
	box-sizing: border-box;
	width: 120px;
	height: 120px;
	border: 1px solid DarkCyan;
	font-size: 15px;
	text-align:left;
	display:table-cell;	
	background: white;
}

.DateBox .Date{
	width: 119px;
	height: 22px;
	padding: 0px 3px 0px;

	display: inline-block;

	color: white;
	background: DarkSlateGray;
}

.DateBox .Todo_link{
	display: inline-block;
	
	width: 119px;
	height: 22px;
	padding: 0px 3px 0px;
	
	text-decoration:none;
	color: black;
	font-weight: bold;
	
	background: LightSalmon;
}

.DateBox .NewTodo_link{
	display: inline-block;
	
	width: 119px;
	height: 22px;
	padding: 0px 3px 0px;
	
	text-decoration:none;
	color: black;
	font-weight: bold;
	
	background: Pink;
}
