.DateBox{
	border: 1px solid;
	box-sizing: border-box;
	width: 120px;
	height: 120px;
	font-size: 15px;
	text-align:left;
	display:table-cell;	
	flex:1;
	background: white;
}

.DateBox .Date{
	width: 118px;
	height: 22px;
	font-weight:bold;
	display: inline-block;
	background: orange;
}

.DateBox .Todo_link{
	display: inline-block;
	
	width: 118px;
	height: 22px;
	text-decoration:none;
	color: black;
	font-weight: bold;
	
	background: green;
}

.DateBox .NewTodo_link{
	display: inline-block;
	
	width: 118px;
	height: 22px;
	text-decoration:none;
	color: black;
	font-weight: bold;
	
	background:pink;
}
