.MainPage{
	display:flex;
	flex-direction:column;
}

.Layout1{
	display:flex;
	flex-direction: column;
	align-items:center;

	background: red;
}

.Layout2{
	display:flex;
	justify-content: center;
	background: yellow;
}

.Layout1 h1{
	border: 5px solid;
	padding: 10px;
	background: white;
}

.Calender{
	border: 5px solid;
	width: 840px;
	background: white;
}
