.MainPage{
	display: block;
	flex-direction:column;
}

.MainPage .Layout1{
	display:flex;
	flex-direction: column;
	align-items:center;

	background: red;
}

.MainPage .Layout1 h1{
	border: 5px solid;
	padding: 10px;
	background: white;
}

.MainPage .Layout2{
	display: flex;
	justify-content: center;
	background: yellow;
}

.MainPage .Calender{
	border: 5px solid;
	width: 840px;
	height: 600px;
	background: blue;
	flex-direction:column;
}


.MainPage .rowdivider {
	display:flex;
	margin:0;
	padding:0;
}
