.Todo *{
	display: block;
	text-align: center;
	font-weight: bold;
}

.Todo h1{
	font-size: 50px;
	color: white;
	margin: 20px;
}

.Todo .Title{
	width: 500px;
	box-sizing: border-box;
	font-weight:normal;
	border: 1px solid;
	margin: auto;
	vertical-align: top;
}


.Todo .Content{
	height: 500px;
	width: 500px;
	box-sizing: border-box;
	font-weight:normal;
	border: 1px solid;
	margin: auto;
	padding: 10px;
	
	text-align: left;
}

.Todo label{
	text-align: center;
	font-size: 30px;
	padding: 15px 0px 5px;
	color: black;
}

.Todo .Submit{
	margin: 20px auto;
	text-decoration: none;	
	font-size: 20px;
}
